@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  /* colors */
  --c-gray-1: #141216;
  --c-gray-2: #1c1d22;
  --c-gray-3: #3e4152;
  --c-gray-4: #b6b4b9;
  --c-white: #f5f3f8;
  --c-yellow: #e9f900;
  --c-orange: #ff7819;
  --c-pink: #f900bf;
  --c-purple: #9900f0;
  --c-green: #00be8e;
  --c-azure: #00b9e1;
  --c-blue: #2687ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--c-gray-1);
  color: var(--c-white);
  font: 500 1.6rem / 1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--c-gray-4);
}

.text {
  font-size: 1.7rem;
  font-weight: 500;
}
